.scroll-section h1{
    padding-left: 100px;
    margin-top: 40px;
}

.scroll-wrapper{
    width: 90%;
    margin: 0 auto 0 auto;
    overflow-x: auto;
    border: 1px solid rgb(219, 219, 219);
}

.scroll-wrapper__empty{
    width: 100%;
    text-align: center;
    margin: 50px 0 50px 0;
}